/* Put your CSS here */
// Fix for desktops so the navbar fixed top won't overlay
body {
  padding-top: 70px;
}
// Fix mobiles view (fixed navbar will overlay without it)
@media (max-width: 767px) {
  .navbar-fixed-top {
    position: relative;
    top: auto;
  }
  .navbar-collapse {
    max-height: none;
  }
  body {
    margin: 0;
    padding-top: 0;
  }
}

.welcome-text {
  font-family: 'Cookie', cursive;
  font-size: 30px;
  padding-right: 15px;
  padding-left: 15px;
}