<div class="well">
    ember-generator-plus!
    watch this bootstrap icon: <span class="glyphicon glyphicon-search"></span><br />
    and this font-awesome icon: <i class="fa fa-refresh fa-spin"></i><br />
    {{bs-alert message="bootstrap for ember is working!" type="info" dismissAfter=2 fade=true}}
</div>

